[submodule "assets"]
	path = assets
	url = https://github.com/ReubenInstitute/ScripturesStudio-assets
	branch = main
[submodule "output"]
	path = output
	url = https://github.com/ReubenInstitute/Media
	branch = main
[submodule "fonts"]
	path = fonts
	url = https://github.com/ReubenInstitute/Fonts.git
	branch = main
[submodule "audio/shmueloff-source"]
	path = audio/shmueloff-source
	url = https://github.com/ReubenInstitute/audiobible-shmueloff-source
	branch = main
